* {
	margin: 0;
}
html {
	height: 100%;
}
body 
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #C0C0C0;
	height: 100%;
}

body.banner
{
	background-image: url("images/banner.jpg");
	background-repeat: no-repeat;
	background-position: left top
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.push {
	height: 4em;
}
.footer {
	height: 4em;
	width: 80%;
	margin-left: auto ;
 	margin-right: auto ;
}
#navlist
{
	list-style-type:none;
	margin-top: 250px;
	margin-bottom: 20px;
	margin-left: 200px;
	overflow:hidden;
}
#navlist li
{
	float:left;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.navbutton
{
	display:block;
	width:200px;
	background-color: #303030;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:6px;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;

}
.navbutton:hover
{
	border: none;
    background:#706e70;
    box-shadow: 0px 0px 1px #777;
}

.navbuttonactive
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #303030), color-stop(1, #706e70) );
	background:-moz-linear-gradient( center top, #303030 5%, #706e70 100% );
	display:block;
	width:200px;
	background-color: #303030;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:6px;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
}

#profilepic
{
	border: 5px ridge #545454;
	margin-right: 20px;
	margin-left: 5px;
	margin-top: 3px;
}
.footer ul
{
	list-style-type: none;
	overflow:hidden;
	text-align: center;
}
.footer li
{
	display: inline;
	font-size: 12px;
}
.title
{
	font-size: 72px;
	text-align: center;
	margin-bottom: 50px;
}
.bodytext
{
	margin-left: 50px;
	max-width: 900px; 
	text-align: justify;
}
