* {
	margin: 0;
}
html {
	height: 100%;
}
body 
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #C0C0C0;
	height: 100%;
}

body.banner
{
	background-image: url("images/banner.jpg");
	background-repeat: no-repeat;
	background-position: left top
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}
.push {
	clear: both;
	width: 100%;
	height: 50px;
}
.footer {
	height: 50px;
	margin-left: auto ;
 	margin-right: auto ;
}
#navlist
{
	list-style-type:none;
	margin-top: 250px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	width: 880px;
	overflow:hidden;
	text-align: center;
}
#navlist li
{
	float:left;
	padding-left: 10px;
	padding-right: 10px;
}
.navbutton
{
	display:block;
	width:200px;
	background-color: #303030;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:6px;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;

}
.navbutton:hover
{
	border: none;
    background:#706e70;
    box-shadow: 0px 0px 1px #777;
}

.navbuttonactive
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #303030), color-stop(1, #706e70) );
	background:-moz-linear-gradient( center top, #303030 5%, #706e70 100% );
	display:block;
	width:200px;
	background-color: #303030;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:6px;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
}

#profilepic
{
	border: 5px solid #000000;
	margin-right: 20px;
	float: left;
}
.footer ul
{
	padding-left: 0;
	list-style-type: none;
	overflow:hidden;
	text-align: center;
}
.footer li
{
	display: inline;
	font-size: 12px;
}
.title
{
	font-size: 72px;
	text-align: center;
	margin-bottom: 50px;
}
.bodytext
{
	margin-left: 25px;
	text-align: left;
	text-indent: 50px;
}

.divbutton
{
	width:850px;
	background-color: #303030;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:6px;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
	margin-top: 80px;
}
.divbutton:hover
{
	border: none;
    background:#706e70;
    box-shadow: 0px 0px 1px #777;
}

.divbuttonactive
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #303030), color-stop(1, #706e70) );
	background:-moz-linear-gradient( center top, #303030 5%, #706e70 100% );
	width:850px;
	background-color: #303030;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:6px;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
	margin-top: 80px;
}

.textbox
{
	width:650px; 
	height:285px;
	background-color: #606060;
	padding-bottom: 5px;
	font-size: 22px;
}

a.fancylink
{
	text-decoration: none;
}
a.fancylink:link
{
	color: #06A2CB;
}
a.fancylink:visited
{
	color: #06A2CB;
}
a.fancylink:hover
{
	text-decoration: underline;
}
#caption
{
	color: #C0C0C0;
	font-style: italic;
	font-size: 18px;
}
#linkentry
{
	margin-bottom:20px;
}